// Tags
body {
  background-color: $fondo;
  font-family: 'Nunito', sans-serif;
}

.card-background-signin {
  background-image: url('/assets/img/login/Inicio_Sesión.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-background-signup {
  background-image: url('/assets/img/login/Registro.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}